nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 15px;
}

li {
    color: white ;
    list-style: none;
}

img {
    width: 150px;
}

.carrito {
    margin-right: 70px;
}